body {
    font-family: Arial, sans-serif;
    background-color: #7a68c1;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a293c9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h1 {
    text-align: center;
}

input[type="text"],
input[type="datetime-local"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5f3f3;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #575ec1;
    color: rgb(12, 11, 11);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #add7af;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
}

.task-item button {
    background-color: #f44336;
}